aiohttp==3.11.16
Flask==2.1.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.2
beautifulsoup4==4.13.4
Werkzeug==2.0.3
requests==2.32.3
numpy==2.2.4
scipy==1.15.2
scikit-learn==1.6.1
pandas==2.2.3
matplotlib==3.10.1
seaborn==0.11.2
plotly==6.0.1
PyPDF2==3.0.1
pyttsx3==2.98
transformers==4.51.3
torch==2.6.0
tenacity==9.1.2
pytest==7.2.0
pillow==11.2.1
openai==1.74.0
pydantic==2.11.3
pyyaml==6.0.2
pywin32 ==3.04
pyinstaller==6.13.0
pyperclip==1.9.0
flask-cors==3.1.1
aiofiles==22.2.0
sqlalchemy==2.0.20
pyarrow==19.0.1
pytz==2025.2
gevent==24.11.1
streamlit==1.44.1
whoosh==2.7.4
wordcloud==1.8.2
nltk==3.9.1
joblib==1.4.2
openpyxl==3.1.5
fuzzywuzzy==0.18.0
